.productpage {
  &__container {
    padding-top: 2rem;
  }
  &__mainrow {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
  }
  &__left {
    width: 45%;
    margin-right: 1rem;
    &-image {
      // height: 10rem;
      padding-top: 70%;
      position: relative;
      &-content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      &-carousel {
        background-color: #f6f9fd;
        box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.4);
        border-radius: 7px;
        padding: 1rem;
        padding-bottom: 0.5rem;
      }
    }
  }
  &__right {
    width: 45%;
    &__price {
      &-container {
        background-color: #f6f9fd;
        box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.4);
        border-radius: 7px;
        padding: 1rem;
      }
      &-row {
        display: flex;
        justify-content: space-between;
        &-left {
          &-text {
            font-size: 1.9rem;
            font-weight: 700;
            color: #444;
          }
        }
        &-right {
          display: flex;
          font-size: 1.7rem;
          &-sharebtn {
            cursor: pointer;
            margin-right: 1rem;
            color: #7b9ef1;
          }
          &-savebtn {
            cursor: pointer;
            color: #7b9ef1;
          }
        }
      }
      &-title {
        margin-top: 0.6rem;
        font-size: 1.3rem;
        line-height: 1.6rem;
      }
    }
    &__seller {
      margin-top: 1rem;
      box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.4);
      background-color: #f6f9fd;
      border-radius: 7px;
      padding: 1rem;
      &-title {
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        font-weight: 600;
        color: #444;
      }
      &-details {
        &-name {
          font-size: 1.3rem;
          margin-bottom: 0.2rem;
        }
        &-address {
          font-size: 1.1rem;
        }
        &-btn {
          margin-top: 0.75rem;
          width: 9.8rem;
          height: 36px;
          font-size: 1.2rem;
          border-radius: 4px;
          border: none;
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
          background-color: rgba(31, 87, 219, 0.855);
          color: #fff;
          font-family: inherit;
          cursor: pointer;
        }
      }
    }
  }
  &__description {
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.4);
    background-color: #f6f9fd;
    border-radius: 7px;
    padding: 1rem;
    margin-top: 1rem;
    height: 20rem;
    &-title {
      font-size: 1.4rem;
      font-weight: 600;
      color: #444;
    }
    &-desc {
      margin-top: 0.5rem;
      font-size: 1.2rem;
      line-height: 1.4rem;
      height: 16rem;
      white-space: pre-wrap;
      overflow-y: auto;
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: 9999;
    backdrop-filter: blur(2px);
  }
  &__modal {
    width: 60vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    &-container {
      background-color: #fff;
      box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.4);
      border-radius: 7px;
      overflow: hidden;
      &:focus {
        outline: none;
      }
    }
  }
  &__delete {
    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    &-popup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1.5rem 1rem;
      background-color: #e1eaff;
      border-radius: 5px;
      font-size: 1.2rem;
      box-shadow: -1px 6px 10px rgba(0, 0, 0, 0.2);
      &-btns {
        margin-top: 1rem;
        &-delete {
          width: 5rem;
          height: 1.8rem;
          font-size: 1.2rem;
          border-radius: 4px;
          border: none;
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
          background-color: #f84848;
          color: #fff;
          margin-right: 1rem;
          cursor: pointer;
        }
        &-cancel {
          width: 5rem;
          height: 1.8rem;
          font-size: 1.2rem;
          border-radius: 4px;
          border: none;
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
          cursor: pointer;
        }
      }
    }
  }
}
.carousel .slide {
  background: #444;
}
.productpage__left-image-carousel {
  & .carousel-root {
    & .carousel {
      & .slide {
        cursor: zoom-in;
      }
    }
  }
}
