.postlisting {
  &__container {
    margin-top: 2rem;
  }
  &__header {
    font-size: 2.2rem;
    text-align: center;
  }
  &__form {
    width: 35rem;
    max-width: 90%;
    margin: 2rem auto;
    padding-bottom: 2rem;
    margin-bottom: 0;
    &-label {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 0.3rem;
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
    &-textfield {
      border-radius: 4px;
      width: 100%;
      font-family: inherit;
      padding: 0.5rem 0.7rem;
      font-size: 1.1rem;
      border: 1px solid #ccc;
      &:focus {
        outline: none;
      }
    }
    &-textarea {
      font-family: inherit;
      border-radius: 4px;
      width: 100%;
      height: 13rem;
      padding: 0.5rem 0.7rem;
      font-size: 1.1rem;
      resize: none;
      border: 1px solid #ccc;
      &:focus {
        outline: none;
      }
    }
    &-price {
      &-container {
        display: flex;
        border-radius: 4px;
        border: 1px solid #ccc;
      }
      &-rupee {
        width: 2.5rem;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        border-right: 1px solid #ccc;
      }
      &-text {
        width: calc(100% - 2.5rem);
        padding: 0;
        & input {
          margin: 0;
          border: none;
        }
      }
    }
    &-images {
      display: flex;
      flex-wrap: wrap;
      padding-top: 0.5rem;
    }
    &-image {
      display: flex;
      font-size: 1.2rem;
      background-color: #f1f1f1f1;
      align-items: center;
      box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
      justify-content: center;
      width: 9.5rem;
      height: 9.5rem;
      margin-right: 1.3rem;
      margin-bottom: 1.3rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      position: relative;
      &:hover &-overlay {
        opacity: 1;
      }
      &-overlay {
        opacity: 0;
        transition: all 0.3s;
        background-color: rgba(0, 0, 0, 0.438);
        position: absolute;
        height: 100%;
        width: 100%;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.63);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1.4rem;
        padding: 0 0.5rem;
      }
    }
    &-btn {
      margin: 1rem auto;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 11rem;
      border: 1px solid #ccc;
      border: none;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
      background-color: rgba(31, 87, 219, 0.855);
      color: #fff;
      cursor: pointer;
      height: 2.4rem;
      font-family: inherit;
      border-radius: 4px;
      font-size: 1.3rem;
    }
    &-popup {
      &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9999;
        backdrop-filter: blur(2px);
      }
      &-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1.5rem 1.3rem;
        background-color: #ccdbfd;
        border-radius: 5px;
        font-size: 1.2rem;
        box-shadow: -1px 6px 10px rgba(0, 0, 0, 0.2);
      }
      &-btn {
        height: 1.8rem;
        font-size: 1.2rem;
        border-radius: 4px;
        border: none;
        margin: 0 auto;
        display: block;
        margin-top: 1rem;
        padding: 0 1.3rem;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
        background-color: rgba(31, 87, 219, 0.855);
        color: #fff;
        cursor: pointer;
        &-link {
          text-decoration: none;
          font-size: 1.2rem;
          border-radius: 4px;
          border: none;
          display: block;
          margin: 0 auto;
          margin-top: 1rem;
          width: fit-content;
          padding: 0.4rem 1.3rem;
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
          background-color: rgba(31, 87, 219, 0.855);
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
