.profilepage {
  &__container {
    margin-top: 2rem;
  }
  &__header {
    font-size: 2.2rem;
    text-align: center;
  }
  &__form {
    width: 35rem;
    max-width: 90%;
    margin: 2rem auto;
    &-label {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 0.3rem;
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
    &-textfield {
      border-radius: 4px;
      width: 100%;
      font-family: inherit;
      padding: 0.5rem 0.7rem;
      font-size: 1.1rem;
      border: 1px solid #ccc;
      &:focus {
        outline: none;
      }
    }
    &-btn {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10rem;
      border: 1px solid #ccc;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
      background-color: rgba(31, 87, 219, 0.855);
      color: #fff;
      cursor: pointer;
      height: 2.4rem;
      font-family: inherit;
      border-radius: 4px;
      font-size: 1.3rem;
      &-disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
      &-update {
        width: 7rem;
      }
    }
    &-city-container {
      display: flex;
      justify-content: space-between;
      & .css-2b097c-container {
        width: 75%;
      }
    }
    &-ad {
      display: flex;
      justify-content: space-between;
      & input {
        width: calc(100% - 11rem);
      }
    }
  }
}
